.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sc-sidenav {
}

.rule_text {
  margin: 10px;
  font-size: 1.5em;
}


/*Playing Cards*/
.empty {
  height:330px;
  width: 235px;
  border: 1px solid black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.joker_black {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -781px 785px;
}
.joker_color {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1061px 785px;
}

.diamonds_ace {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -500px 1165px;
}
.diamonds_two {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -781px 1165px;
}
.diamonds_three {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1061px 1165px;
}
.diamonds_four {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1342px 1165px;
}
.diamonds_five {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1623px 1165px;
}
.diamonds_six {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1904px 1165px;
}
.diamonds_seven {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2184px 1165px;
}
.diamonds_eight {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2465px 1165px;
}
.diamonds_nine {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2746px 1165px;
}
.diamonds_ten {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3027px 1165px;
}
.diamonds_jack {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3308px 1165px;
}
.diamonds_queen {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3588px 1165px;
}
.diamonds_king {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3869px 1165px;
}

.spades_ace {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -500px 1540px;
}
.spades_two {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -781px 1540px;
}
.spades_three {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1061px 1540px;
}
.spades_four {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1342px 1540px;
}
.spades_five {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1623px 1540px;
}
.spades_six {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1904px 1540px;
}
.spades_seven {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2184px 1540px;
}
.spades_eight {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2465px 1540px;
}
.spades_nine {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2746px 1540px;
}
.spades_ten {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3027px 1540px;
}
.spades_jack {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3308px 1540px;
}
.spades_queen {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3588px 1540px;
}
.spades_king {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3869px 1540px;
}

.hearts_ace {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -500px 1915px;
}
.hearts_two {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -781px 1915px;
}
.hearts_three {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1061px 1915px;
}
.hearts_four {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1342px 1915px;
}
.hearts_five {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1623px 1915px;
}
.hearts_six {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1904px 1915px;
}
.hearts_seven {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2184px 1915px;
}
.hearts_eight {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2465px 1915px;
}
.hearts_nine {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2746px 1915px;
}
.hearts_ten {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3027px 1915px;
}
.hearts_jack {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3308px 1915px;
}
.hearts_queen {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3588px 1915px;
}
.hearts_king {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3869px 1915px;
}

.clubs_ace {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -500px 2290px;
}
.clubs_two {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -781px 2290px;
}
.clubs_three {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1061px 2290px;
}
.clubs_four {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1342px 2290px;
}
.clubs_five {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1623px 2290px;
}
.clubs_six {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -1904px 2290px;
}
.clubs_seven {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2184px 2290px;
}
.clubs_eight {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2465px 2290px;
}
.clubs_nine {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -2746px 2290px;
}
.clubs_ten {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3027px 2290px;
}
.clubs_jack {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3308px 2290px;
}
.clubs_queen {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3588px 2290px;
}
.clubs_king {
  height:335px;
  width: 240px;
  background: url("../images/Color_52_Faces_v.2.0.svg") -3869px 2290px;
}
