<div fxLayout="column"
     fxFlex="auto">
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="joker_black"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="joker_black"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_ace"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_ace"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_two"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_two"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_three"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_three"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_four"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_four"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_five"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_five"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_six"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_six"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_seven"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_seven"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_eight"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_eight"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_nine"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_nine"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_ten"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_ten"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_jack"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_jack"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_queen"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_queen"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
  <div fxLayout="row"
       fxFlex="auto">
    <app-card card="spades_king"
              zoom="0.75"
              showFace="true">
    </app-card>
    <app-card card="spades_king"
              zoom="0.75"
              showFace="false">
    </app-card>
  </div>
</div>
