<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>King' Cup</title>
    <meta name="description" content="">
    <!-- Run in full-screen mode. -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Make the status bar black with white text. -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Customize home screen title. -->
    <meta name="apple-mobile-web-app-title" content="Kings's Cup">

    <!-- Set viewport. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Android Tab Color -->
    <meta name="theme-color" content="#000000">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/icon.css">
    <!-- endbuild -->
  </head>
  <body class="layout-row" ng-app="kingscupApp" ng-controller="MainCtrl as main" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
      <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 sc-sidenav" md-is-locked-open="$mdMedia('gt-md')" >
        <md-content>
          <md-list class="sc-list">
            <md-subheader class="md-no-sticky">King's Cup</md-subheader>
            <hr />
            <md-list-item class="sc-list-item">
              <md-button class="sc-button" ng-click="main.menuItemClick('home')" ng-class="{'sc-active': $root.viewName === 'Home'}">Home</md-button>
            </md-list-item>
            <md-list-item class="sc-list-item">
              <md-button class="sc-button" ng-click="main.menuItemClick('game')" ng-class="{'sc-active': $root.viewName === 'Game'}">Game</md-button>
            </md-list-item>
            <md-list-item class="sc-list-item">
              <md-button class="sc-button"ng-click="main.menuItemClick('rules')" ng-class="{'sc-active': $root.viewName === 'Rules'}">Rules</md-button>
            </md-list-item>
            <md-list-item class="sc-list-item">
              <md-button class="sc-button" ng-click="main.menuItemClick('settings')" ng-class="{'sc-active': $root.viewName === 'Settings'}">Settings</md-button>
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
      <md-content flex>
        <div layout="column" layout-fill layout-align="top center">
          <md-toolbar>
            <div class="md-toolbar-tools sc-toolbar">
              <md-button class="md-icon-button" ng-if="!main.mdMedia('gt-md')" ng-click="main.openLeftMenu()" aria-label="Menu">
                <md-icon>menu</md-icon>
              </md-button>
              <h2>
                <span>{{$root.viewName}}</span>
              </h2>
            </div>
          </md-toolbar>
          <md-content layout="column" layout-fill layout-padding>
            <div class="container">
              <div ng-view=""></div>
            </div>
          </md-content>
        </div>
      </md-content>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/game.js"></script>
        <script src="scripts/controllers/settings.js"></script>
        <script src="scripts/directives/playingcard.js"></script>
        <script src="scripts/services/cardrules.js"></script>
        <script src="scripts/controllers/rules.js"></script>
        <!-- endbuild -->
</body>
</html>
