<div layout="column">
  <div layout="row">
    <playingcard card="joker_black" zoom="1" side="face"></playingcard>
    <playingcard card="joker_black" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_ace" zoom="1" side="face"></playingcard>
    <playingcard card="spades_ace" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_two" zoom="1" side="face"></playingcard>
    <playingcard card="spades_two" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_three" zoom="1" side="face"></playingcard>
    <playingcard card="spades_three" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_four" zoom="1" side="face"></playingcard>
    <playingcard card="spades_four" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_five" zoom="1" side="face"></playingcard>
    <playingcard card="spades_five" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_six" zoom="1" side="face"></playingcard>
    <playingcard card="spades_six" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_seven" zoom="1" side="face"></playingcard>
    <playingcard card="spades_seven" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_eight" zoom="1" side="face"></playingcard>
    <playingcard card="spades_eight" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_nine" zoom="1" side="face"></playingcard>
    <playingcard card="spades_nine" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_ten" zoom="1" side="face"></playingcard>
    <playingcard card="spades_ten" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_jack" zoom="1" side="face"></playingcard>
    <playingcard card="spades_jack" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_queen" zoom="1" side="face"></playingcard>
    <playingcard card="spades_queen" zoom="1" side="back"></playingcard>
  </div>
  <div layout="row">
    <playingcard card="spades_king" zoom="1" side="face"></playingcard>
    <playingcard card="spades_king" zoom="1" side="back"></playingcard>
  </div>
</div>
