<div layout="column">
  <div layout="row">
    <p flex="25">Delete local rules.</p>
    <md-button class="md-raised md-warn" ng-click="vm.clearAll()" flex="25">Delete</md-button>
  </div>
  <div layout="column">
    <div layout="row">
      <p flex="25">Edit rules.</p>
      <md-button class="md-raised md-primary" ng-click="vm.edit = !vm.edit" flex="25">{{vm.edit ? 'Close' : 'Edit'}}</md-button>
    </div>
    <div ng-if="vm.edit" layout="column">
      <div layout="row">
        <playingcard card="joker_black" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="joker_model.title = vm.getCardRule('joker_black').title" ng-model="joker_model.title" ng-change="vm.setCardRule('joker_black', joker_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="joker_model.text = vm.getCardRule('joker_black').text" ng-model="joker_model.text" ng-change="vm.setCardRule('joker_black', joker_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_ace" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="ace_model.title = vm.getCardRule('spades_ace').title" ng-model="ace_model.title" ng-change="vm.setCardRule('spades_ace', ace_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="ace_model.text = vm.getCardRule('spades_ace').text" ng-model="ace_model.text" ng-change="vm.setCardRule('spades_ace', ace_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_two" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="two_model.title = vm.getCardRule('spades_two').title" ng-model="two_model.title" ng-change="vm.setCardRule('spades_two', two_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="two_model.text = vm.getCardRule('spades_two').text" ng-model="two_model.text" ng-change="vm.setCardRule('spades_two', two_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_three" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="three_model.title = vm.getCardRule('spades_three').title" ng-model="three_model.title" ng-change="vm.setCardRule('spades_three', three_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="three_model.text = vm.getCardRule('spades_three').text" ng-model="three_model.text" ng-change="vm.setCardRule('spades_three', three_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_four" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="four_model.title = vm.getCardRule('spades_four').title" ng-model="four_model.title" ng-change="vm.setCardRule('spades_four', four_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="four_model.text = vm.getCardRule('spades_four').text" ng-model="four_model.text" ng-change="vm.setCardRule('spades_four', four_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_five" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="five_model.title = vm.getCardRule('spades_five').title" ng-model="five_model.title" ng-change="vm.setCardRule('spades_five', five_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="five_model.text = vm.getCardRule('spades_five').text" ng-model="five_model.text" ng-change="vm.setCardRule('spades_five', five_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_six" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="six_model.title = vm.getCardRule('spades_six').title" ng-model="six_model.title" ng-change="vm.setCardRule('spades_six', six_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="six_model.text = vm.getCardRule('spades_six').text" ng-model="six_model.text" ng-change="vm.setCardRule('spades_six', six_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_seven" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="seven_model.title = vm.getCardRule('spades_seven').title" ng-model="seven_model.title" ng-change="vm.setCardRule('spades_seven', seven_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="seven_model.text = vm.getCardRule('spades_seven').text" ng-model="seven_model.text" ng-change="vm.setCardRule('spades_seven', seven_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_eight" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="eight_model.title = vm.getCardRule('spades_eight').title" ng-model="eight_model.title" ng-change="vm.setCardRule('spades_eight', eight_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="eight_model.text = vm.getCardRule('spades_eight').text" ng-model="eight_model.text" ng-change="vm.setCardRule('spades_eight', eight_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_nine" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="nine_model.title = vm.getCardRule('spades_nine').title" ng-model="nine_model.title" ng-change="vm.setCardRule('spades_nine', nine_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="nine_model.text = vm.getCardRule('spades_nine').text" ng-model="nine_model.text" ng-change="vm.setCardRule('spades_nine', nine_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_nine" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="nine_model.title = vm.getCardRule('spades_nine').title" ng-model="nine_model.title" ng-change="vm.setCardRule('spades_nine', nine_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="nine_model.text = vm.getCardRule('spades_nine').text" ng-model="nine_model.text" ng-change="vm.setCardRule('spades_nine', nine_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_jack" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="jack_model.title = vm.getCardRule('spades_jack').title" ng-model="jack_model.title" ng-change="vm.setCardRule('spades_jack', jack_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="jack_model.text = vm.getCardRule('spades_jack').text" ng-model="jack_model.text" ng-change="vm.setCardRule('spades_jack', jack_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_queen" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="queen_model.title = vm.getCardRule('spades_queen').title" ng-model="queen_model.title" ng-change="vm.setCardRule('spades_queen', queen_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="queen_model.text = vm.getCardRule('spades_queen').text" ng-model="queen_model.text" ng-change="vm.setCardRule('spades_queen', queen_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <playingcard card="spades_king" style="min-width: 240px;" zoom="1" side="face" flex="33"></playingcard>
        <div layout="column" flex="66">
          <md-input-container>
            <label>Cardname</label>
            <input type="text" ng-init="king_model.title = vm.getCardRule('spades_king').title" ng-model="king_model.title" ng-change="vm.setCardRule('spades_king', king_model)" />
          </md-input-container>
          <md-input-container>
            <label>Rule</label>
            <textarea ng-init="king_model.text = vm.getCardRule('spades_king').text" ng-model="king_model.text" ng-change="vm.setCardRule('spades_king', king_model)" aria-label="rule text"></textarea>
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
</div>
